*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  color: brown;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  min-height: 100vh;
}

header, footer {
  background-color: lightblue;
  min-height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

main {
  flex-grow: 1;
  padding: 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

footer {
  align-items: center;
  justify-content: center;
  text-align: center;
}